body {
    background-color: lavenderblush;
}
#heading {
    background-color: blueviolet;
    color:aliceblue;
    font-variant: small-caps;
    text-align: center;
    height: 100px;
    margin-top: 60px;
    padding-top: 20px;
}
#content {
    margin-left: 45%;
}